<p>Inspired By <strong>John&nbsp;Gruber</strong></p>

<ul>
  <li><%= link_to "Sources", sources_path %></li>
  <!--
  <li><a href="/projects/">Projects</a></li>
  <li><a href="/contact/">Contact</a></li>
  <li><a href="/colophon/">Colophon</a></li>
  <li><a href="/feeds/">RSS Feed</a></li>
  <li><a href="/feeds/sponsors/">Sponsorship</a></li>
  -->
</ul>

<div class="about">
  <p>SEARCH EVERY SITE THAT JOHN GRUBER HAS LINKED TO AT LEAST TWICE IN THE <a href="http://daringfireball.net">DARING FIREBALL</a> LINKED LIST.</p>
  <p>THIS IS JUST A TRIBUTE.</p>
  <div class="by">
    <p>BY SEAN DEVINE</p>
    <p><a href="http://www.twitter.com/barelyknown">@BARELYKNOWN</a></p>
  </div>
  </p>
</div>